<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="Echart Demo">
    <title>Echart Demo</title>
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/common.css">-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/animations.css">
    <!--easyui-css-->
    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.4.3/themes/metro/easyui.css">
    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.4.3/themes/icon.css">

    <script src="/jquery-easyui-1.4.3/jquery.min.js"></script>
    <script src="/jquery-easyui-1.4.3/jquery.easyui.min.js"></script>
      <script src="/echarts/echarts-plain.js"></script>
      <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
      <script src="/javascripts/mybar.js"></script>
  </head>
  <!--1. 在整个页面创建布局面板-->
  <body class="easyui-layout">
  <div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px">north region</div>
  <div data-options="region:'west',split:true,title:'West'" style="width:150px;padding:10px;">
      <ul id="mytree" name="mytree" class="easyui-tree" data-options="url:'getjson',method:'get',animate:true,dnd:true"></ul>
  </div>
  <div data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">south region</div>
  <div data-options="region:'center',title:'Center'">
      <div id="main" name="main" style="height:400px"></div>
  </div>
  </body>
</html>

<script type="text/javascript">
    var arr1 = [];
    var arr2 = [];

    $('#mytree').tree({
        onClick: function(node){
            $.ajax({
                url: node.url,
                success: function(d){
                    var str= JSON.parse(d);
                    if(str.id == "mybar"){
                        console.log(11111);
                        var data= str.datas;
                        for(i=0;i<data.length;i++){
                            arr1.push(parseInt(data[i].consume));
                        }
                        for(i=0;i<data.length;i++){
                            arr2.push(data[i].date);
                        }
                        drewChart(arr1,arr2);
                    }
            }});
        }
    });



</script>
